@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

input,
button {
  outline: none;
  color: black;
}

h2 {
  margin-bottom: 20px;
  font-family: "Baloo Bhai 2", cursive;
  border-bottom: 2px solid;
  display: inline-block;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border-radius: 5px;
  background: none;
  color: white;
  border: 2px solid white;
  padding: 6px;
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: black;
}

.btn-sm {
  padding: 0 6px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2) url("../Gallery/bg.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  min-height: 8vh;
  overflow-y: hidden;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#leftNav {
  display: flex;
  align-items: center;
  width: 70%;
}

#rightNav {
  width: 30%;
  display: flex;
  justify-content: center;
}

#logo {
  margin: 10px;
}

#logo img {
  width: 35px;
  border: 3px solid white;
  border-radius: 50px;
}

#nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-family: "Baloo Bhai 2", cursive;
}

.nav-item a:hover {
  color: grey;
}

#searchInp {
  padding: 5px;
  border-radius: 10px;
  margin: 0 10px;
}

#homeSection {
  height: 92vh;
  display: flex;
  background: rgba(0, 0, 0, 0.2) url("../Gallery/bg.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  justify-content: center;
  align-items: center;
}

#homeContent {
  width: 40%;
  margin: 0 80px;
  color: white;
}

.imgShort {
  width: 30%;
}

.imgShort img {
  float: right;
  clear: both;
  width: 183px;
  border: 3px solid white;
  border-radius: 20px;
}

#about {
  padding: 40px 0;
  width: 80%;
  margin: auto;
}

.aboutCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.card-reverse {
  flex-direction: row-reverse;
}

.card-reverse .imgShort img {
  float: left;
}

.aboutContent {
  width: 70%;
  margin-right: 20px;
}
