@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea {
  outline: none;
  color: black;
  resize: none;
}

h2 {
  margin-bottom: 20px;
  font-family: "Baloo Bhai 2", cursive;
  border-bottom: 2px solid;
  display: inline-block;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border-radius: 5px;
  background: none;
  color: white;
  border: 2px solid white;
  padding: 6px;
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: black;
}

.btn-sm {
  padding: 0 6px;
}

.btn-dark {
  border: 2px solid black;
  color: black;
}

.btn-dark:hover {
  background-color: black;
  color: white;
}

#navbar {
  display: flex;
  align-items: center;
  background-color: #040c13;
  background-size: cover;
  background-blend-mode: darken;
  max-height: 45px;
  overflow-y: hidden;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 10px;
  overflow-x: hidden;
}

#navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#leftNav {
  display: flex;
  align-items: center;
  width: 70%;
}

#rightNav {
  width: 30%;
  display: flex;
  justify-content: center;
}

#logo {
  margin: 10px;
}

#logo img {
  width: 35px;
  border: 3px solid white;
  border-radius: 50px;
}

#nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-family: "Baloo Bhai 2", cursive;
}

.nav-item a:hover {
  color: grey;
}

#searchInp {
  padding: 5px;
  border-radius: 10px;
  margin: 0 10px;
}

#burger {
  display: none;
  width: 100%;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#burger span {
  display: block;
  position: absolute;
  width: 30px;
  border: 2px solid white;
  background: white;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burger span:nth-child(1) {
  top: 8px;
}

#burger span:nth-child(2) {
  top: 18px;
}

#burger span:nth-child(3) {
  top: 28px;
}

#burger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#burger.open span:nth-child(2) {
  opacity: 0;
  right: 60px;
}

#burger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#homeSection {
  min-height: 94vh;
  display: flex;
  background: rgba(0, 0, 0, 0.2) url("../Gallery/bg.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  justify-content: center;
  align-items: center;
}

#homeContent {
  width: 40%;
  margin: 0 80px;
  color: white;
}

.imgShort {
  width: 30%;
}

.imgShort img {
  float: right;
  clear: both;
  width: 183px;
  border: 3px solid white;
  border-radius: 20px;
}

#about {
  padding: 40px 0;
  width: 80%;
  margin: auto;
}

.aboutCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.card-reverse {
  flex-direction: row-reverse;
}

.card-reverse .imgShort img {
  float: left;
}

.aboutContent {
  width: 70%;
  margin-right: 20px;
}

.card-reverse .aboutContent {
  margin-right: 0px;
  margin-left: 20px;
}

#contact {
  background-color: #fff6f6;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactForm input,
#contactForm textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 10px;
  background: none;
}

footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #040c13;
  background-size: cover;
  background-blend-mode: darken;
  height: 5vh;
}

@media only screen and (max-width: 900px) {
  #burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  #navbar {
    flex-direction: column;
  }

  #navContent {
    flex-direction: column;
    margin: 60px 0;
  }

  #leftNav,
  #nav-list {
    flex-direction: column;
    text-align: center;
  }

  #about {
    width: 90%;
  }
}

@media only screen and (max-width: 750px) {
  #homeSection {
    flex-direction: column-reverse;
  }

  .aboutCard {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .imgShort {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .aboutContent {
    margin: 0;
    width: 100%;
  }

  .card-reverse .aboutContent {
    margin: 0;
  }

  #homeSection .imgShort {
    justify-content: center;
  }

  #homeContent {
    width: 80%;
    text-align: center;
  }

  footer {
    padding: 10px;
  }
}
